.Booking {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.css-1osj8n2-MuiGrid-root {
  padding-left: 24px;
  padding-right: 24px;
}